.lay{
    width: 1080px;
}
.scan{
    background: url("../image/home_Nails/zu_1.png") no-repeat;
    width: 868px;
    height: 210px;
    margin-top: 192px;
    text-align: center;
    margin-left: 99px;;
}
/*中间部分*/
.middle{
    width: 575px;
    height: 576px;
    margin: 0 auto;
    position: relative;
}
/*大图*/
.middle :first-child{
    display: inline-block;
    background: url("../image/home_Nails/nine.png") no-repeat;
    height: 576px;
    width: 575px;
}
/*二维码*/
.middle :last-child{
    display: inline-block;
    background: url("../image/home_Nails/qr.png") no-repeat;
    height: 576px;
    width: 575px;
    position: absolute;
    top: 20px;
    left: 27px;
}
/*底部*/
.bom{
    height: 60px;
    margin-top: 35px;
}
.bom li{
    float: left;
    font-size: 43px;
    color: #FB9DA4;
    font-weight:bold
}
.bom ul :first-child{
    background: url("../image/home_Nails/3267.png") no-repeat;
    width: 278px;
    height: 53px;
    margin-left: 108px;
    padding-left: 57px;
}
.bom ul :nth-child(2){
    background: url("../image/home_Nails/Finger_with_Nail.png") no-repeat;
    width: 232px;
    height: 58px;
    padding-left: 56px;
}
.bom ul :last-child{
    background: url("../image/home_Nails/heart.png") no-repeat;
    width: 260px;
    height: 54px;
    padding-left: 84px;
}