.lay{
    width: 1080px;
    height: 1920px;

}

/*中间部分*/
/*拍照*/
.middle{
    height: 1081px;
}
.camer{
    width: 1080px;
    height: 1081px;
    border: 1px solid #000000;
    background-color: #8c8c8c;
    position: relative;
}

/*当前眉形*/
.cmaer_current{
    width: 235px;
    height: 62px;
    border: 2px solid #FF4A65;
    border-radius: 31px;
    left: 761px;
    top: 49px;
    position: relative;
}
.cur_font{
    display: inline-block;
    font-size: 30px;
    color: #FF4A65;
    line-height: 30px;
    text-align: center;
    position: absolute;
    left: 43px;
    top: 18px;
}
.cur_img{
    display: inline-block;
    background: url("../image/home_EyebrowTattoo/Diamond.png") no-repeat;
    width: 49px;
    height: 50px;
    position: absolute;
    left: 176px;
    top: 6px;
}
/*已选眉形*/
.camaer_select{
    width: 275px;
    height: 62px;
    background-color: #000000;
    border: 2px solid ;
    border-radius: 31px;
    /*position: absolute;*/
    left: 721px;
    top: 49px;
    position: relative;
}

.select_font{
    display: inline-block;
    font-size: 30px;
    color: #ffffff;
    opacity: 0.5019607843137255;
    position: absolute;
    line-height: 62px;
    left: 65px;
}
.select_img{
    display: inline-block;
    background: url("../image/home_EyebrowTattoo/Eye-Closed.png") no-repeat;
    width: 46px;
    height: 35px;
    position: absolute;
    left: 215px;
    top: 13px;
}
/*粗细*/
.camaer_thick{
    width: 275px;
    height: 62px;
    background-color: #000000;
    border: 2px solid ;
    border-radius: 31px;
    /*position: absolute;*/
    left: 721px;
    top: 49px;
    position: relative;
}

.thick_font{
    display: inline-block;
    font-size: 30px;
    color: #ffffff;
    opacity: 0.5019607843137255;
    position: absolute;
    line-height: 62px;
    left: 151px;
}
.thick_img{
    display: inline-block;
    background: url("../image/home_EyebrowTattoo/size.png") no-repeat;
    width: 46px;
    height: 17px;
    position: absolute;
    left: 211px;
    top: 21px;
}
/*以选颜色*/
.camaer_color{
    width: 275px;
    height: 62px;
    background-color: #000000;
    border: 2px solid ;
    border-radius: 31px;
    /*position: absolute;*/
    left: 721px;
    top: 49px;
    position: relative;
}

.color_font{
    display: inline-block;
    font-size: 30px;
    color: #ffffff;
    opacity: 0.5019607843137255;
    position: absolute;
    line-height: 62px;
    left: 126px;
}
.color_img{
    display: inline-block;
    background: url("../image/home_EyebrowTattoo/Photos.png") no-repeat;
    width: 39px;
    height: 39px;
    position: absolute;
    left: 215px;
    top: 11px;
}
/*选中样式*/
.eyebrow_seled{
    display: inline-block;
    border: 8px solid #FF6896;
    box-sizing: content-box;
    float: left;
}
/*眉形区*/
.nna{
    height: 545px;
    overflow: hidden;
    background-color: #E4E5E9;
    position: relative;
}
.eyebrow{
    height: 572px;
    overflow: auto;

}
.eyebrow_help {
    display: block;
    font-size: 40px;
    background-image: -webkit-gradient(linear, 0 0, right 0, from(#FF6896), to(#FF846F));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 110px;
    padding-left: 321px;;
}
.eyebrow ul{
    width: 1335px;
    height: 545px;
    background-color: #E4E5E9;
}
.eyebrow ul:first-child{
    margin-left:-23px;
}
.eyebrow li{
    float: left;
    width: 236px;
    height: 236px;
    background-color: #fff;
    margin-left: 23px;
    position: relative;
    border-radius: 15px;
}
.eyebrow li :first-child{
    display: block;
    background-color: #8a9099;
    text-align: center;
    font-size: 42px;
    width: 235px;
    color:#FCFCFC;
    font-family:PingFang-SC-Medium ;
    margin-top: 175px;;
}
.eyebrow li :nth-child(2){
    display: inline-block;
    width: 235px;
    text-align: center;
    font-size: 28px;
    background-image: -webkit-gradient(linear, 0 0, right 0, from(#FF6896), to(#FF846F));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 243px;
}
.eyebrow_c{
    background: url("../image/home_EyebrowTattoo/meimao.png") no-repeat ;
    background-position: 73px 80px ;
    /*background-position: center;*/
}
.eyebrow_b{
    background: url("../image/home_EyebrowTattoo/meimao.png") no-repeat ;
    background-position: -156px  80px ;
}
.eyebrow_a{
    background: url("../image/home_EyebrowTattoo/meimao.png") no-repeat ;
    background-position: -415px  80px ;
}
.eyebrow_ye{
    background: url("../image/home_EyebrowTattoo/meimao.png") no-repeat ;
    background-position: -670px  80px ;
}
.eyebrow_lai {
    background: url("../image/home_EyebrowTattoo/meimao.png") no-repeat;
    background-position: -916px  80px ;
}
.app_img{
    position: absolute;
    top: 450px;
    left: 27px;
    width: 186px;
    height: 186px;
    border-radius: 35px;
    background-color: #B4B5B5;
    z-index: 9999999;
    box-shadow: -3px -6px 11px  #B4B5B5;
;
}
.botm{
    display: inline-block;
    height: 151px;
    width: 1080px;
    background-color: #fff;
    position: absolute;
    top: 1581px;
    z-index: 9999;
    box-shadow: -3px -4px 11px  #B4B5B5;
}

.botm_fontt{
    display: inline-block;
    font-size: 48px;
    color: #333333;
    padding-left: 260px;
    padding-top: 27px;


}
.botm_fontb{
    /*display: inline-block;*/
    font-size: 36px;
    color: #444444;
    padding-left: 260px;
    padding-top: 91px;
}