.title-word{    
	margin-top: 85px;
    margin-left: 225px;
    font-family: "PingFang-SC-Regular"; 
    font-size: 53px; 
    background-image: -webkit-gradient(linear, 0 0, right 0, from(#FF6896), to(#FF846F));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}
.top{
	margin-bottom: 36px;
}
.box{
	margin-top: 126px;
	background-color:#fffbf2;
	width: 1080px; 
	padding-bottom: 100px;
}
.title_up{
	display: inline-block;
	text-align: center;
	width: 1080px;
	font-size: 58px;
	color: #484747;
	position: relative;
	z-index: 1;
}
.title_down{
	display: inline-block;
	text-align: center;
	width: 1080px;
	height: 0;
	font-size: 58px;
	color: #c3a55b;
	position: relative;
	bottom: 90px;
	z-index: 0;
}
.bar{
	margin-left: 240px;
	position: relative;
	bottom: 30px;
}
.hb_block{
	float: left;
	background: url(../image/swiper_ad1/hbbg.png) no-repeat;
	height: 289px;
	margin-left: 43px;
}
.quan{
	height: 300px;
}
.hb_block span{
	display: inline-block;
	width: 216px;

	text-align: center;
}
.hb_block span:nth-child(1){
	padding-top: 35px;
	font-size: 25px;
	color: #fff;
}

.hb_block span:nth-child(3){
	font-size: 82px;
	color: #fff;
}
.hb_block span:nth-child(5){
	font-size: 25px;
	color: #fff;
	position: relative;
	bottom: 30px;
}
.hb_block span:nth-child(7){
	font-size: 25px;
	color: #484747;
	position: relative;
	top: -10px;
}
.main{
	background: url(../image/swiper_ad1/biao.png) no-repeat;
	margin-top: 40px;
}
.doctor{
	border: solid 5px #f0d490;
	width: 925px;
	height: 405px;
	margin-left: 60px;
	margin-top: 55px;
	padding-top: 40px;
	padding-left: 40px;
}
.d_left{
	float: left;
}
.d_left span{
	display: inline-block;
}
.d_left span:nth-child(1){
	font-size: 85px;
	color: #484747;
	position: relative;
	z-index: 1;

	margin-right: -267px;
}
.d_left span:nth-child(2){
	font-size: 86px;
	color: #c3a55b;
	position: relative;
	bottom: 2px;
	right: 2px;
	z-index: 0;
}
.d_left img:nth-child(3){
	position: relative;
	bottom: 50px;
	left: 40px;
}
.d_left span:nth-child(5){
	font-size: 57px;
	color: #bd9e54;
}
.d_left span:nth-child(7){
	font-size: 24px;
	color: #d7ba73;
	line-height: 35px;
	margin-top:10px;
}
.d_left span:nth-child(9){
	font-size: 31px;
	color: #f0d490;
	margin-top:10px;
	background-color: #484747;
	border: solid 2px #f0d490;
	width: 265px;
	text-align: center;
}
.d_right img{
	height: 560px;
	position: relative;
	bottom: 525px;
	left: 330px;
}
.case{
	border: solid 5px #f0d490;
	background-color: #000;
	width: 925px;
	height: 425px;
	margin-left: 60px;
	margin-top: -5px;
	padding-top: 20px;
	padding-left: 40px;
}
.case img:nth-child(2){
	position: relative;
	left: 40px;
}
.case span{
	display: inline-block;
	color: #faeac2;
	font-size: 67px;
	width: 20px;
	position: relative;
	left: 835px;
	bottom: 350px;
	line-height: 70px;
}
.eye{
	border: solid 5px #f0d490;
	width: 925px;
	height: 360px;
	margin-left: 60px;
	margin-top: -5px;
	padding-top: 20px;
	padding-left: 40px;
}
.e_left{
	float: left;
}
.e_right{
	float:left;
	margin-left: 55px;
}
.e_right span:nth-child(1){
	font-size: 48px;
	color: #484747;
}
.e_right span:nth-child(3){
	font-size: 78px;
	color: #bd9e54;
}
.e_right span:nth-child(4){
	font-size: 22px;
	color: #afaeaa;
	text-decoration: line-through;
}
.e_right span:nth-child(6){
	display: inline-block;
	font-size: 24px;
    color: #d7ba73;
    line-height: 35px;
    margin-top: 10px;
}
.e_right span:nth-child(8){
	font-size: 31px;
	color: #f0d490;
	margin-top:10px;
	background-color: #e15555;
	border: solid 2px #f0d490;
	width: 191px;
	height: 44px;
	text-align: center;

}